WebContent/wsdl/addPutnik.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebService" xmlns:intf="http://WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createPutnik">
    <complexType>
     <sequence>
      <element name="idVoznje" type="xsd:int"/>
      <element name="ime" type="xsd:string"/>
      <element name="prezime" type="xsd:string"/>
      <element name="starost" type="xsd:int"/>
      <element name="brojPasosa" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createPutnikResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createPutnikRequest">

      <wsdl:part element="impl:createPutnik" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createPutnikResponse">

      <wsdl:part element="impl:createPutnikResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="addPutnik">

      <wsdl:operation name="createPutnik">

         <wsdl:input message="impl:createPutnikRequest" name="createPutnikRequest">

       </wsdl:input>

         <wsdl:output message="impl:createPutnikResponse" name="createPutnikResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="addPutnikSoapBinding" type="impl:addPutnik">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createPutnik">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createPutnikRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createPutnikResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="addPutnikService">

      <wsdl:port binding="impl:addPutnikSoapBinding" name="addPutnik">

         <wsdlsoap:address location="http://localhost:8081/SmartBusTerminal/services/addPutnik"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
