WebContent/wsdl/getSensorInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebService" xmlns:intf="http://WebService" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="inputSensorValues">
    <complexType>
     <sequence>
      <element name="SenzoriTemperatura" type="tns1:sensorInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="inputSensorValuesResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="sensorInfo">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="kabina" nillable="true" type="xsd:string"/>
     <element name="motor" nillable="true" type="xsd:string"/>
     <element name="prtljaznik" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="inputSensorValuesRequest">

      <wsdl:part element="impl:inputSensorValues" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inputSensorValuesResponse">

      <wsdl:part element="impl:inputSensorValuesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="getSensorInfo">

      <wsdl:operation name="inputSensorValues">

         <wsdl:input message="impl:inputSensorValuesRequest" name="inputSensorValuesRequest">

       </wsdl:input>

         <wsdl:output message="impl:inputSensorValuesResponse" name="inputSensorValuesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="getSensorInfoSoapBinding" type="impl:getSensorInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="inputSensorValues">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inputSensorValuesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inputSensorValuesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="getSensorInfoService">

      <wsdl:port binding="impl:getSensorInfoSoapBinding" name="getSensorInfo">

         <wsdlsoap:address location="http://localhost:8081/SmartBusTerminal/services/getSensorInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
